body {
 
    background-color: #f2f2f2;
}
#preview {
  padding:0px;
  border-radius:2px;
  max-width:160px;
  height: 160px;
  background-image: url('/img/perfil2.png');
  background-size: cover;
  cursor: pointer;
  border-radius: 100px;
}
input[type=file]{
   opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 2;
    
}


#preview img {
    width:100%; 
    height: 100%; 
    display:block;
    border-radius: 100px;
}

/* raleway-regular - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/raleway-v14-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Raleway'), local('Raleway-Regular'),
       url('./fonts/raleway-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/raleway-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/raleway-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./fonts/raleway-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/raleway-v14-latin-regular.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-500 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/raleway-v14-latin-500.eot'); /* IE9 Compat Modes */
  src: local('Raleway Medium'), local('Raleway-Medium'),
       url('../fonts/raleway-v14-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/raleway-v14-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/raleway-v14-latin-500.woff') format('woff'), /* Modern Browsers */
       url('../fonts/raleway-v14-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/raleway-v14-latin-500.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-600 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/raleway-v14-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Raleway SemiBold'), local('Raleway-SemiBold'),
       url('../fonts/raleway-v14-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/raleway-v14-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/raleway-v14-latin-600.woff') format('woff'), /* Modern Browsers */
       url('../fonts/raleway-v14-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/raleway-v14-latin-600.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-700 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/raleway-v14-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Raleway Bold'), local('Raleway-Bold'),
       url('../fonts/raleway-v14-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/raleway-v14-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/raleway-v14-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/raleway-v14-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/raleway-v14-latin-700.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-800 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/raleway-v14-latin-800.eot'); /* IE9 Compat Modes */
  src: local('Raleway ExtraBold'), local('Raleway-ExtraBold'),
       url('../fonts/raleway-v14-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/raleway-v14-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/raleway-v14-latin-800.woff') format('woff'), /* Modern Browsers */
       url('../fonts/raleway-v14-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/raleway-v14-latin-800.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-900 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/raleway-v14-latin-900.eot'); /* IE9 Compat Modes */
  src: local('Raleway Black'), local('Raleway-Black'),
       url('../fonts/raleway-v14-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/raleway-v14-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/raleway-v14-latin-900.woff') format('woff'), /* Modern Browsers */
       url('../fonts/raleway-v14-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/raleway-v14-latin-900.svg#Raleway') format('svg'); /* Legacy iOS */
}

a {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/raleway-v14-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Raleway'), local('Raleway-Regular'),
       url('./fonts/raleway-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/raleway-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/raleway-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./fonts/raleway-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/raleway-v14-latin-regular.svg#Raleway') format('svg'); /* Legacy iOS */
}
p {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/raleway-v14-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Raleway'), local('Raleway-Regular'),
       url('./fonts/raleway-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/raleway-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/raleway-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./fonts/raleway-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/raleway-v14-latin-regular.svg#Raleway') format('svg'); /* Legacy iOS */
}
h1 { 
 font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/raleway-v14-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Raleway SemiBold'), local('Raleway-SemiBold'),
       url('../fonts/raleway-v14-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/raleway-v14-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/raleway-v14-latin-600.woff') format('woff'), /* Modern Browsers */
       url('../fonts/raleway-v14-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/raleway-v14-latin-600.svg#Raleway') format('svg'); /* Legacy iOS */
 }
 h2 {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/raleway-v14-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Raleway Bold'), local('Raleway-Bold'),
       url('../fonts/raleway-v14-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/raleway-v14-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/raleway-v14-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/raleway-v14-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/raleway-v14-latin-700.svg#Raleway') format('svg'); /* Legacy iOS */
 }
#matrix {
	position: relative;

}
.completo {
    padding: 0px 0px 80px 0px;
}
#contenedor {
	position: relative;
	max-width: 800px;
	margin-left: auto;
  	margin-right: auto;
  	top: 32px;
    background-color: white;
	border-radius: 50px 50px 50px 50px;
	-moz-border-radius: 50px 50px 50px 50px;
	-webkit-border-radius: 50px 50px 50px 50px;
    -webkit-box-shadow: 0px 0px 30px -11px rgba(0,0,0,0.24);
    -moz-box-shadow: 0px 0px 30px -11px rgba(0,0,0,0.24);
    box-shadow: 0px 0px 30px -11px rgba(0,0,0,0.24);
    overflow: hidden;
    padding: 0px 0px 0px 0px;
	
}
.Parte1 {
    position: relative;
    align-content: center;
    text-align: center;
    justify-content: center;
    width: 100%;

    padding: 0px 0px 0px 0px;
    
}
.todo{
    justify-content: center;
    
}

.titulo {
	position: relative;
    width: 100%;
	font-size: 35px;
    font-weight: 700;
    color: darkslategray;
    left: 20px;
    
}
.perfil{
    position: relative;
    justify-content: center;
    text-align: center;
    align-content: center;
    display: flex;
    
}



#logo {
	position: relative;
	max-width: 200px;
     background-color: white;
	border-radius: 50px 50px 50px 50px;
	-moz-border-radius: 50px 50px 50px 50px;
	-webkit-border-radius: 50px 50px 50px 50px;
}
#form1 {
	position: relative;
	

}
#form2 {
	position: relative;
	padding: 20px;
    margin-top: -20px;
	
}
.titulo {
  position: relative;
  left: 0px;

}
.titulo2 {
    position: relative;
    text-align: center;
    width: 100%;
}
.titulo2 h1 {
    font-size: 30px;
    letter-spacing: -1px;
    padding: 15px;
}
.txt {
    text-align: center;
    font-size: 20px;
}
.caja1 {
    position: relative;
    margin-top: -35px;
    left: -10px;
    
}
.aparte {
    position: relative;
    left: 20px;
}

input[type=checkbox] {
  visibility: hidden;
}
.checkbox-1 {
  display: inline-block;
  vertical-align: middle; 
    
    width: 25px;
    height: 25px;
    background-color: royalblue;
    border-radius: 50%;
    position: relative;
    opacity: 0.8;
    
}
.checkbox-1 label {
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: px;
    left: px;
    z-index: 1;
    box-shadow: 0 0 3px rgba(0,0,0,0.3) inset;   
    transition: all .2s ease;
    transition: all .2s ease;
    
}
.checkbox-1 input[type=checkbox]:checked + label {
    background-color: firebrick;
    width: 25px;
    height: 25px;
    top: 0px;
    left: 0px;
    border-radius: 50%;
    
    
}
.mujer  {
    position: relative;
    width: 100%;
    padding: 0px 0px 0px 0px 0px;
    justify-content: center;
    align-content: center;
    overflow: hidden;
   
}
.cajacara{
    width: 100%;
    justify-content: center;
    display: flex;
    


}

#rostro{
    position: relative;
    top: 0px;
    justify-content: center;
    overflow: hidden;
    border-radius: 20px;
    width: 100%;
    margin-top: -180px;
   
}
#rostro img {
    position: relative;
    width: 720px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-top:-400px;
}
.puntos {
    position: relative;
    width: 380px;
    height: 600px;
    top: 250px;
    z-index: 1;
    overflow: hidden;
}
#punto1{
    position: absolute;
    top: 100px;
    left: 165px;
}
#punto2{
    position: absolute;
    top: 180px;
    left: 250px;
}
#punto3{
    position: absolute;
    top: 180px;
    left: 20px;
}
#punto4{
    position: absolute;
    top: 210px;
    left: 165px;
}
#punto5{
    position: absolute;
    top: 235px;
    left: 300px;
}
#punto6{
    position: absolute;
    top: 268px;
    left: 78px;
}
#punto7{
    position: absolute;
    top: 291px;
    left: 163px;
}
#punto8{
    position: absolute;
    top: 320px;
    left: 263px;
}
#punto9{
    position: absolute;
    top: 340px;
    left: 98px;
}
#punto10{
    position: absolute;
    top: 378px;
    left: 161px;
}
#punto11{
    position: absolute;
    top: 414px;
    left: 244px;
}
#punto12{
    position: absolute;
    top: 444px;
    left: 84px;
}
#punto13{
    position: absolute;
    top: 429px;
    left: 304px;
}
#punto14{
    position: absolute;
    top: 495px;
    left: 167px;
}
#punto15{
    position: absolute;
    top: 415px;
    left: 163px;
}
#punto16{
    position: absolute;
    top: 555px;
    left: 169px;
}
.oculto {
    display: none;
}




/* Media Queries para dispositivos moviles */

/* pixel  */
@media only screen and (min-width: 1025px) and (max-width: 1366px){}

/* iPad Pro */
@media only screen and (min-width: 1024px) and (max-width: 1266px){}

/* iPhone 5/SE */
@media only screen and (min-width: 320px) and (max-width: 568px){}

/* iPhone 6/7/8 */
@media only screen and (min-width: 355px) and (max-width: 667px){}

/* iPhone 6/7/8/Plus */
@media only screen and (min-width: 414px) and (max-width: 736px){
    
}

/* iPhone X */
@media only screen and (min-width: 375px) and (max-width: 812px){
    .mujer  {
    position: relative;
    width: 100%;
    padding: 0px 0px 0px 0px 0px;
    justify-content: center;
    align-content: center;
    overflow: hidden;
   
    }
    .cajacara{
    width: 100%;
    justify-content: center;
    display: flex;
    


    }

    #rostro{
    position: relative;
    top: 0px;
    justify-content: center;
    overflow: hidden;
    border-radius: 20px;
    width: 100%;
    margin-top: -180px;
   
    }
    #rostro img {
    position: relative;
    width: 720px;
    height: 300px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-top:-400px;
    }
    .puntos {
    position: relative;
    width: 380px;
    height: 590px;
    top: 150px;
    z-index: 1;
    overflow: hidden;
    }
    #punto1{
    position: absolute;
    top: 100px;
    left: 145px;
    }
    #punto2{
    position: absolute;
    top: 137px;
    left: 189px;
    }
    #punto3{
    position: absolute;
    top: 140px;
    left: 70px;
    }
    #punto4{
    position: absolute;
    top: 160px;
    left: 145px;
    }
    #punto5{
    position: absolute;
    top: 165px;
    left: 209px;
    }
    #punto6{
    position: absolute;
    top: 185px;
    left: 104px;
    }
    #punto7{
    position: absolute;
    top: 193px;
    left: 145px;
    }
    #punto8{
    position: absolute;
    top: 200px;
    left: 193px;
    }
    #punto9{
    position: absolute;
    top: 213px;
    left: 114px;
    }
    #punto10{
    position: absolute;
    top: 228px;
    left: 145px;
    }
    #punto11{
    position: absolute;
    top: 244px;
    left: 184px;
    }
    #punto12{
    position: absolute;
    top: 254px;
    left: 104px;
    }
    #punto13{
    position: absolute;
    top: 259px;
    left: 206px;
    }
    #punto14{
    position: absolute;
    top: 286px;
    left: 147px;
    }
    #punto15{
    position: absolute;
    top: 254px;
    left: 145px;
    }
    #punto16{
    position: absolute;
    top: 315px;
    left: 147px;
    }
    .boton {
        position: relative;
        margin-top: -90px;
    }
}
@media only screen and (min-width: 411px) and (max-width: 731px){
     .mujer  {
    position: relative;
    width: 100%;
    padding: 0px 0px 0px 0px 0px;
    justify-content: center;
    align-content: center;
    overflow: hidden;
   
    }
    .cajacara{
    width: 100%;
    justify-content: center;
    display: flex;
    


    }

    #rostro{
    position: relative;
    top: 0px;
    justify-content: center;
    overflow: hidden;
    border-radius: 20px;
    width: 100%;
    margin-top: -180px;
   
    }
    #rostro img {
    position: relative;
    width: 720px;
    height: 340px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-top:-400px;
    }
    .puntos {
    position: relative;
    width: 380px;
    height: 590px;
    top: 150px;
    z-index: 1;
    left: 20px;
    overflow: hidden;
    }
    #punto1{
    position: absolute;
    top: 100px;
    left: 145px;
    }
    #punto2{
    position: absolute;
    top: 147px;
    left: 189px;
    }
    #punto3{
    position: absolute;
    top: 160px;
    left: 70px;
    }
    #punto4{
    position: absolute;
    top: 170px;
    left: 145px;
    }
    #punto5{
    position: absolute;
    top: 180px;
    left: 216px;
    }
    #punto6{
    position: absolute;
    top: 205px;
    left: 104px;
    }
    #punto7{
    position: absolute;
    top: 210px;
    left: 145px;
    }
    #punto8{
    position: absolute;
    top: 220px;
    left: 193px;
    }
    #punto9{
    position: absolute;
    top: 233px;
    left: 114px;
    }
    #punto10{
    position: absolute;
    top: 254px;
    left: 145px;
    }
    #punto11{
    position: absolute;
    top: 274px;
    left: 184px;
    }
    #punto12{
    position: absolute;
    top: 294px;
    left: 104px;
    }
    #punto13{
    position: absolute;
    top: 289px;
    left: 206px;
    }
    #punto14{
    position: absolute;
    top: 316px;
    left: 147px;
    }
    #punto15{
    position: absolute;
    top: 283px;
    left: 145px;
    }
    #punto16{
    position: absolute;
    top: 350px;
    left: 147px;
    }
    .boton {
        position: relative;
        margin-top: -60px;
    }
}

/* iPad y iPad Mini */
@media only screen and (min-width: 713px) and (max-width: 1023px){
    .mujer  {
    position: relative;
    width: 100%;
    padding: 0px 0px 0px 0px 0px;
    justify-content: center;
    align-content: center;
    overflow: hidden;
   
    }
    .cajacara{
    width: 100%;
    justify-content: center;
    display: flex;
    


    }

    #rostro{
    position: relative;
    top: 0px;
    justify-content: center;
    overflow: hidden;
    border-radius: 20px;
    width: 100%;
    margin-top: -180px;
   
    }
    #rostro img {
    position: relative;
    width: 720px;
    height: 630px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-top:-400px;
    }
    .puntos {
    position: relative;
    width: 380px;
    height: 590px;
    top: 225px;
    z-index: 1;
        left: -px;
    overflow: hidden;
    }
    #punto1{
    position: absolute;
    top: 100px;
    left: 165px;
}
#punto2{
    position: absolute;
    top: 180px;
    left: 250px;
}
#punto3{
    position: absolute;
    top: 180px;
    left: 20px;
}
#punto4{
    position: absolute;
    top: 210px;
    left: 165px;
}
#punto5{
    position: absolute;
    top: 235px;
    left: 300px;
}
#punto6{
    position: absolute;
    top: 268px;
    left: 78px;
}
#punto7{
    position: absolute;
    top: 291px;
    left: 163px;
}
#punto8{
    position: absolute;
    top: 320px;
    left: 263px;
}
#punto9{
    position: absolute;
    top: 340px;
    left: 98px;
}
#punto10{
    position: absolute;
    top: 378px;
    left: 161px;
}
#punto11{
    position: absolute;
    top: 414px;
    left: 244px;
}
#punto12{
    position: absolute;
    top: 444px;
    left: 84px;
}
#punto13{
    position: absolute;
    top: 429px;
    left: 304px;
}
#punto14{
    position: absolute;
    top: 495px;
    left: 167px;
}
#punto15{
    position: absolute;
    top: 415px;
    left: 163px;
}
#punto16{
    position: absolute;
    top: 555px;
    left: 169px;
}
    .boton {
        margin-top: 20px;
    }
}

/* Otros dispositivos */
@media only screen and (min-width: 360px) and (max-width: 370px){
    .mujer  {
    position: relative;
    width: 100%;
    padding: 0px 0px 0px 0px 0px;
    justify-content: center;
    align-content: center;
    overflow: hidden;
   
    }
    .cajacara{
    width: 100%;
    justify-content: center;
    display: flex;
    


    }

    #rostro{
    position: relative;
    top: 0px;
    justify-content: center;
    overflow: hidden;
    border-radius: 20px;
    width: 100%;
    margin-top: -180px;
   
    }
    #rostro img {
    position: relative;
    width: 720px;
    height: 300px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-top:-400px;
    }
    .puntos {
    position: relative;
    width: 380px;
    height: 590px;
    top: 150px;
    z-index: 1;
        left: -8px;
    overflow: hidden;
    }
    #punto1{
    position: absolute;
    top: 100px;
    left: 145px;
    }
    #punto2{
    position: absolute;
    top: 137px;
    left: 189px;
    }
    #punto3{
    position: absolute;
    top: 140px;
    left: 80px;
    }
    #punto4{
    position: absolute;
    top: 160px;
    left: 145px;
    }
    #punto5{
    position: absolute;
    top: 165px;
    left: 209px;
    }
    #punto6{
    position: absolute;
    top: 185px;
    left: 104px;
    }
    #punto7{
    position: absolute;
    top: 193px;
    left: 145px;
    }
    #punto8{
    position: absolute;
    top: 200px;
    left: 193px;
    }
    #punto9{
    position: absolute;
    top: 213px;
    left: 114px;
    }
    #punto10{
    position: absolute;
    top: 228px;
    left: 145px;
    }
    #punto11{
    position: absolute;
    top: 244px;
    left: 184px;
    }
    #punto12{
    position: absolute;
    top: 254px;
    left: 104px;
    }
    #punto13{
    position: absolute;
    top: 259px;
    left: 206px;
    }
    #punto14{
    position: absolute;
    top: 286px;
    left: 147px;
    }
    #punto15{
    position: absolute;
    top: 254px;
    left: 145px;
    }
    #punto16{
    position: absolute;
    top: 315px;
    left: 147px;
    }
    .boton {
        position: relative;
        margin-top: -90px;
    }
}
@media only screen and (min-width: 411px) and (max-width: 733px){}